<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>

<body>
    
    
    <%- include('./partials/nav.ejs')%>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi rem deserunt ducimus, exercitationem illum, dolores non voluptatem sint est debitis recusandae quidem. Soluta eveniet sequi pariatur odit sint minus assumenda.
        Error quidem, vel dicta corrupti quod sunt? Aperiam assumenda, nihil excepturi ducimus minus magnam sed corporis, maiores asperiores voluptates impedit vel nobis, delectus odit fugiat officia natus quasi blanditiis est?
        Officiis ea vitae repellat dicta fuga provident necessitatibus repudiandae debitis ipsa qui magnam, consequatur voluptatum, blanditiis porro fugiat a repellendus laborum omnis voluptas obcaecati deserunt minus quam aspernatur. Tenetur, iure?
        Pariatur cumque excepturi doloribus? Ullam modi perspiciatis veniam laborum, doloremque enim ab ipsam inventore iste consectetur dolorem quisquam aliquam. In incidunt molestias non aut quaerat officia quas cumque quasi quo!
    </p>

    <%- include('./partials/footer.ejs')%>


</body>
</html>